head{
    text-align: center;
    color: whitesmoke;
}
body{
    text-align: center;
    text-align: top;
    color:whitesmoke;
    background:cornflowerblue;
    select{
        cursor: pointer;
    }
    select:hover{
        color:chocolate;
    }
    button{
        cursor:pointer;
    }
    button:hover{
        color:slategray;
    }
}